<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    .admin-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 200px; /* 더 작은 값으로 수정 */
    }
    .nav-item {
      max-width: 200px; /* 최대 너비 설정 */
      height: 100px;
      background-color: whitesmoke;
      margin: 10px; /* 여백 추가 */
    }
    .nav-item .nav-link {
      font-size: 30px; /* 더 작은 폰트 크기로 수정 */
      text-align: center;
      margin-top: 20px;
      padding-top: 10px; /* 더 작은 여백 추가 */
    }
    table {
      margin-top: 50px;
      max-width: 100%; /* 테이블이 화면 크기를 넘어가지 않도록 최대 너비 설정 */
    }
    table.table th {
      font-size: 30px;
    }
    table.table td {
      font-size: 30px;
    }
    th, td {
      word-wrap: break-word;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="height: 130px; font-size: 80px;">HOMEMATE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="admin-page">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" th:href="@{/admin/user/chart}">회원관리</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" th:href="@{/admin/building/chart}">매물관리</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" th:href="@{/admin/article/chart}">게시글관리</a>
    </li>
  </ul>


  <!--  <form class="d-flex" style="margin-top: 150px; margin-left: 1000px;" th:action="@{/admin/user/search}" method="get">-->
<!--    <input class="form-control me-2" type="search" placeholder="닉네임 조회" aria-label="Search" name="nickname">-->
<!--    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--  </form>-->

<!--  &lt;!&ndash; 수정 모달 &ndash;&gt;-->
<!--  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel0" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLabel3" style="font-size: 30px;">사용자 정보</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <p>이름: <span th:text="${userInfo.userName}"></span></p>-->
<!--          <p>닉네임: <span th:text="${userInfo.nickName}"></span></p>-->
<!--          <p>로그인 타입: <span th:text="${userInfo.socialType}"></span></p>-->
<!--          <p>소셜 id: <span th:text="${userInfo.socialId}"></span></p>-->
<!--          <p>이메일: <span th:text="${userInfo.email}"></span></p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 30px; padding: 10px 20px;">닫기</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->




  <table class="table" style="width: 3000px;">
    <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">이름</th>
      <th scope="col">닉네임</th>
      <th scope="col">로그인 타입</th>
      <th scope="col">소셜 id</th>
      <th scope="col">이메일</th>
      <th scope="col">비밀번호</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${userList}">
      <td th:text="${member.id}" scope="row"></td>
      <td th:text="${member.userName}"></td>
      <td th:text="${member.nickName}"></td>
      <td th:text="${member.socialType}"></td>
      <td th:text="${member.socialId}"></td>
      <td th:text="${member.email}"></td>
      <td th:text="${member.password}"></td>
      <td class="row">
        <div class="col">
          <div class="col">
            <button type="button" class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal0"
                    th:attr="data-user-id=${member.id}"
                    style="font-size: 24px; padding: 10px 20px;">
              수정
            </button>
            <button type="button" class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    th:attr="data-user-id=${member.id}"
                    style="font-size: 24px; padding: 10px 20px;">
              삭제
            </button>

            <!-- 수정 모달 -->
            <div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel0" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel0" style="font-size: 30px;">사용자 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- 사용자 닉네임을 표시 -->
                    <p>기존 닉네임: <span th:text="${member.nickName}"></span></p>

                    <form id="updateUserForm" onsubmit="event.preventDefault(); saveUserData();">
                      <input type="hidden" id="userId" th:value="${member.id}" />
                      <label for="nickName" style="font-size: 24px;">닉네임:</label>
                      <input type="text" id="nickName" th:value="${member.nickName}" style="font-size: 24px;" />
                      <button type="submit" class="btn btn-primary" style="font-size: 30px; padding: 10px 20px;">저장</button>
                    </form>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 30px; padding: 10px 20px;">취소</button>
                  </div>
                </div>
              </div>
            </div>

            <script>

              function saveUserData() {
                var userId = document.getElementById("userId").value;
                var newNickname = document.getElementById("nickName").value;


                var data = {
                  nickName: newNickname,
                  userId: userId
                };

                fetch("/admin/update/user", {
                  credentials: 'include',
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json"

                  },
                  // body: new URLSearchParams(data).toString()
                  body: JSON.stringify(data)
                })
                        .then(response => {
                          if (response.ok) {
                            $('#exampleModal0').modal('hide');
                            location.reload();
                            alert("수정 성공!")

                            document.getElementById("nickName").innerText = newNickname;
                          } else {
                            console.error("오류 발생");
                            alert("닉네임을 수정할 수 없습니다.")
                          }
                        })
                        .catch(error => {
                          console.error("오류 발생: " + error);
                        });

              }
            </script>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="font-size: 30px;">사용자 삭제</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                          data-bs-dismiss="modal"
                          style="font-size: 30px; padding: 10px 20px;">
                    취소
                  </button>
                  <form th:action="@{/admin/delete/user}" method="post">
                    <input type="hidden" th:name="userId" th:value="${member.id}" />
                    <button type="submit" class="btn btn-danger" style="font-size: 30px; padding: 10px 20px;">삭제</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>

      </td>
    </tr>
    </tbody>
  </table>

  <div style="margin-top: 300px;">
    <ul class="pagination pagination-lg">
      <!-- 좌측 화살표 (이전 페이지뭉치로 이동) -->
      <li th:if="${currentPage > 0}" class="page-item">
        <a class="page-link" th:href="@{/admin/user/chart(page=${currentPage - 5}, size=${pageSize})}">&laquo;</a>
      </li>
      <!-- 현재 페이지의 앞 5개 페이지 표시 -->
      <li th:each="i : ${#numbers.sequence(currentPage, currentPage + 4)}" class="page-item">
        <a class="page-link" th:if="${i < userList.totalPages}" th:href="@{/admin/user/chart(page=${i}, size=${pageSize})}" th:text="${i + 1}"></a>
      </li>
      <!-- 우측 화살표 (다음 페이지뭉치로 이동) -->
      <li th:if="${currentPage + 5 < userList.totalPages}" class="page-item">
        <a class="page-link" th:href="@{/admin/user/chart(page=${currentPage + 5}, size=${pageSize})}">&raquo;</a>
      </li>
    </ul>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
